
.order {
  background-color: rgb(245, 245, 245);
  position: relative;
}

.order .order_bottom {
  position: absolute;
  bottom: 40px;
}

.order .order_bg{
  height: 490px;
}

.order .order_form {
  display: flex;
  justify-content: center;
}

.order .order_form .order_form_content {
  width: 1200px;
}

.order .order_form .order_form_content .form_title {
  color: #000;
  font-size: 14px;
}
.red_point {
  color: red;
}

.order .order_form .order_form_content .form {
  margin-top: 20px;
  height: 748px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
}

.first .el-input__inner {
  width: 175px;
  height: 50px;
  border-radius: 0px;
}

.second .el-input__inner {
  width: 380px;
  height: 50px;
  border-radius: 0px;
}

.third .el-input__inner {
  width: 380px;
  height: 50px;
  border-radius: 0px;
  padding-right: 140px;
}

.codeBg {
  background: url('./images/canClick.png') no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}

.order .mR20 {
  margin-right: 20px;
}

.order .mL20 {
  margin-left: 20px;
}

.order .mT30 {
  margin-top: 30px;
}

.order .order_input .el-input {
  width: 380px;
} 

.order .form_time {
  margin-top: 50px;
}

.order .form_time .time_title {
  font-size: 24px;
}


.planTime .planTime_group {
  display: inline;
}

.order .normal {
  display: inline-block;
  width: 110px;
  height: 42px;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 38px;
  text-align: center;
  border:2px solid rgba(231, 231, 231, 1);
  margin-left: 30px;
  cursor: pointer;
}

.order .normal:hover {
  border: 2px solid #BE001E;
  background: url('./images/index.png') no-repeat;
  background-position: 95px 27px;
}

.order .active {
  border: 2px solid #BE001E;
  background: url('./images/index.png') no-repeat;
  background-position: 95px 27px;
}

.select_container input[type="checkbox"]{
  display: inline-block;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #CCC;
  outline: none;
}

.select_container input[type="checkbox"]:checked {
  background: url('./images/checked.png') no-repeat;
  border: none;
}

.btn_submit {
  width: 150px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: url("./images/btn_bg.png") no-repeat;
}

.order_container .adver {
  width: 1200px;
  height: 200px;
  margin: 20px auto;
}

.forbidden {
  cursor: not-allowed;
  background: url("./images/codeBg.png") no-repeat;
}